<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Project 4</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="app.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron">
                <h1>Project 4: Redo Assignment 1 in Express</h1>
                <img class="headerImg" src="https://www.namasteui.com/wp-content/uploads/2018/08/front-end-web-development.jpg" alt="html5">
                <nav>
                    <a <%if(active=="index"){%>class="active"<%}%> href="/">Home</a>
                    <a <%if(active=="html"){%>class="active"<%}%> href="html">HTML</a>
                    <a <%if(active=="css"){%>class="active"<%}%> href="css">CSS</a>
                    <a <%if(active=="js"){%>class="active"<%}%> href="js">JavaScript</a>
                </nav>
            </div>
            <div class="container">