<%- include('partials/header', {active: "css"}); %>

<h1 class="page-title">Cascading Style Sheets (CSS)</h1>
<hr>
<br>

<h3>Overview</h3>
<p>CSS is a style sheet language that is used to help make the HTML presentable. It is designed to help change the layout, colors, and fonts to help improve content accessibility, as well as provide more formatting and control in the presentation of chracterstics.</p>
<h3>Syntax</h3>
<p>A style sheet consists of a list of rules, which consists of one or more <em>selectors</em> and a <em>declaration block</em>.</p>
<h4>Declaration Block</h4>
<p>A declaration bloc consists of a list of <em>declarations</em> in braces. Each declaration itself consists of a <em>property</em>, a colon (<mark>:</mark>), and a <em>value</em>. Each declaration must end with a semicolon (<mark>;</mark>).</p>


<h3>Before CSS</h3>
<p>Before CSS, almost all presentational attributes in HTML documents were contained within HTML. All font colors, background styles, element alignments, borders, and sizes, are all explicity described. They had to be repeated for elements with similar styles. With CSS, authors are able to type those styles in a different file, which is much simpler than keeping it intertwined in the HTML.</p>
<p>Before CSS, document authors who wanted to assign typographic characteristics to, for example, all <mark>h1</mark> headings had to repeat the HTML presentational markup for each of the occurances of <mark>h1</mark>. Now, CSS allows authors to be able to select the <mark>h1</mark> element and write one declaration block for all the <mark>h1</mark>elements.</p>
<a class="source" href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets">Source</a>

<%- include('partials/footer'); %>
