<%- include('partials/header', {active: "html"}); %>

<h1 class="page-title">HyperText Mockup Langauge (HTML)</h1>
<hr>
<br>

<h3>Overview</h3>
<p>HTML is a markup language that web browsers use to interpret and compos text, images and other material into visual or audible web pages. There are default characterestics for every HTML element, which can be altered using CSS. HTML is like the bone structure for a website -- it provides the foundation for where different elements are.</p>
<p>HTML helps create structured documents by denoting structural semantics for text such as headings, pragraphs, lists, links, quotes, etc. The elements are portrayed by <em>tags</em>, written inside angle brackets. HTML can also embed programs written in scripting languages like JavaScript. Inclusion of CSS helps to define the look and feel of the web page.</p>

<h3>Markup</h3>
<p>HTML markup consists of several key components, including those called <em>tags</em> and their <em>attributes</em>. Most HTML tags come in opening and closing pairs, such as <mark>&lt;h1&gt;</mark> and <mark>&lt;/h1&gt;</mark></p>

<p>Another important component is the document type declaration, which makes sure that the browser can properly read it as HTML.</p>

<h4>Attributes</h4>
<p>Most attributes of an element are name-value pairs, separated by <mark>=</mark>. There are several common attributes that may appear.</p>
<p>The <mark>id</mark> attribute provides a dociument-wide unique identifyer for an element. This way, the stylesheet can alter it's properties.</p>
<p>The <mark>class</mark> attribute provides a way of classifying similar elements. It can be used for semantic or presentation purposes.</p>
<p>The <mark>style</mark> attribute can be used to assign presentational properties to specific particular elements. It's considered better practice to use an element's <mark>id</mark> or <mark>class</mark> attributes to change the presentational properities through a CSS file.</p>

<a class="source" href="https://en.wikipedia.org/wiki/HTML#Markup">Source</a>

<%- include('partials/footer'); %>
