<%- include('partials/header', {active: "js"}); %>

<h1 class="page-title">JavaScript (JS)</h1>
<hr>
<br>

<h3>Overview</h3>
<p>JavaScript, often abbreviated as JS, is a high-level milti-paradigm. JavaScript enables interactive web pages. It supports event-driven, functional, and imperative programming styles. It has APIs for working with text, arrays, dates, regular expressions, and the Document Object Model (DOM).</p>

<h3>Client-Side Usage</h3>
<p>95% of websites use client-side JavaScript. Scripts are embedded in or included in HTML documents and interact with the DOM. Some examples are loading new page content wihtout reloading the page,animation of page events, interactive content like games and videos, validating input values, and transmitting information about the user's behavior for analytics.</p>

<h3>Features</h3>
<p>JavaScript supports much of the structured programming syntax from C, like <mark>if</mark> statements, <mark>while</mark> loops, <mark>switch</mark> statements, <mark>do while</mark> loops. JavaScript is also weakly typed, which means certain types are implicitly cast depending on the operation used. It is also very dynamic.</p>

<a class="source" href="https://en.wikipedia.org/wiki/JavaScript">Source</a>

<%- include('partials/footer'); %>
